# Common
README.md
CHANGELOG.md
LICENSE
*.log

# git
.git
.gitattributes
.gitignore

# JetBrains
.idea
projectFilesBackup

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# python
bin/
include/
lib/
lib64/

# App
assets