# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

bin/
include/
lib/
lib64
pyvenv.cfg
pip-selfcheck.json

.idea/
**/*.iml

assets/
logs/
app.ini
/preview-client/.env
/preview-client/build/
/preview-client/node_modules/
/preview-client/.eslintcache
